<!doctype html>
<html>
<head>
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>

  <h1>factually.ai</h1>
  <div id="stripe">
    <span id="about">A preliminary demo that demonstrates the functionality of our model for identifying anti-vax comments.</span>
  </div>

<form action="{{ url_for('main') }}" method="POST">
  <div align="center">
    <!-- <textarea name="comment" cols="40" rows="5"></textarea> -->
    <br>
    <input type="submit" name="submit" value="Comment">
    <input type="submit" name="submit" value="Classify">
  </div>
<br>


{% if comment %}
<div class="textblock">
  <p>{{ comment }}</p>
</div>
{% endif %}

{% if result %}
<div class="result" align="center">
  <p>{{ result }}</p>
</div>
{% endif %}

{% if fact %}
<div class="textblock">
  <p>{{ fact }}</p>
</div>
{% endif %}

</body>
</html>
